@media(max-width:575.99px){
    body {
        padding-top: 89px;
    }
    .c_padding{
        padding-top: 50px;
        padding-bottom: 70px;
    }
    /* header start */
    header {
       padding: 10px 0;
    }
    .logo {
        
    }
.menu ul li a {
    padding: 10px 0 0 !important;
    font-size: 20px;
    text-align: end;
}
/* slider start */
.slider{
    padding-bottom: 60px;
}
.c_indi{
    bottom: -60px;
}
.c_indi [data-bs-target] {
    width: 15px;
    height: 15px;
}
.s_text{
    margin-top: 0px;
}
.s_text h1{
    font-size: 25px;   
}
.s_text h2{
    margin: 10px 0;
    font-size: 18px;
}
.s_text p{
    margin-bottom: 20px;
}
.s_icon ul li{
    margin-right: 15px !important;
}
.s_icon ul li i{
    font-size: 35px;
}
/* feature start */
.feature{
    
 } 
 .c_h1{
    margin-bottom: 10px;
    font-size: 25px;
} 
.c_p{
    font-size: 16px;
    line-height: 25px;
  }
  .f_margin{
    margin-top: 30px;
 } 
 .f_icon i{
    font-size: 35px;
    margin-top: 0px;
 } 
  .f_text{
    text-align: center;
  }
  .f_text h2{
    margin-bottom: 5px;
    font-size: 20px;
  }
  .f_text p{
    letter-spacing: 0px;
  }
  /* contact start */
  .c_form{
    margin-top: 40px;
    margin-bottom: 40px;
}
  .c_input{
    height: 45px;
    padding: 10px 10px;
  }
  .c_submit{
    height: 45px;
  }
  .c_icon ul li {
    margin-right: 20px!important;
}
  .c_icon ul li a i{
    font-size: 35px; 
}
  /* contact end */
  /* footer start */
  footer {
    padding-bottom: 70px; 
}
.f_1{
    text-align: center;
    
}
.f_2{
    margin-top: 30px;
    text-align: center;
}
  /* footer end */
}
@media(min-width:576px) and (max-width:767.98px){
body {
        padding-top: 89px;
    }
.c_padding{
    padding-top: 50px;
    padding-bottom: 70px;
}
    /*header start*/
header {
   
}
.menu ul li a {
    padding: 10px 0 0 !important;
    font-size: 20px;
    text-align: end;
}
/* slider start */
.slider{
    padding-bottom: 60px;
}
.c_indi{
    bottom: -55px;
}
.c_indi [data-bs-target] {
    width: 15px;
    height: 15px;
}
.s_text{
    margin-top: 0px;
}
.s_text h1{
    font-size: 25px;   
}
.s_text h2{
    margin: 10px 0;
    font-size: 18px;
}
.s_text p{
    margin-bottom: 20px;
}
.s_icon ul li{
    margin-right: 20px !important;
}
.s_icon ul li i{
    font-size: 35px;
} 
/* feature start */
.feature{
   
 } 
 .c_h1{
    margin-bottom: 10px;
    font-size: 25px;
} 
.c_p{
    font-size: 16px;
    line-height: 25px;
  } 
  .f_margin{
    margin-top: 30px;
 } 
 .f_icon i{
    font-size: 35px;
    margin-top: 0px;
 } 
  .f_text{
    text-align: center;
  }
  .f_text h2{
    margin-bottom: 5px;
    font-size: 20px;
  }
  .f_text p{
    letter-spacing: 0px;
  }
  /* contact start */
  .c_form{
    margin-top: 35px;
    margin-bottom: 40px;
}
  .c_input{
    height: 45px;
    padding: 10px 10px;
  }
  .c_submit{
    height: 45px;
  }
  .c_icon ul li {
    margin-right: 25px!important;
}
  .c_icon ul li a i{
    font-size: 40px; 
}
  /* contact end */
  /* footer start */
  footer {
    padding-bottom: 70px; 
}
.f_1{
    text-align: center;
    margin-bottom: 40px;
}
.f_2{
    text-align: center;
}
  /* footer end */
}

@media(min-width:768px) and (max-width:991.99px){
 .c_padding{
    padding-top: 80px;
    padding-bottom: 100px;
 }
    /*header start*/
 .menu ul li a {
   padding: 10px 0 0 !important;
   text-align: end;
} 
 /* feature start */
 .feature{
    
 } 
 .f_margin{
    margin-top: 50px;
 }  
 /* contact start */
 .c_form{
    margin-top: 55px;
    margin-bottom: 55px;
}
 /* contact end */
 /* footer start */
 footer{
    padding-bottom: 100px;
}
 /* footer end */
}
@media(min-width:992px) and (max-width:1199.99px){
    
}
@media(min-width:1200px) and (max-width:1399.99px){
    
}
@media(min-width:1400px){

}